<!DOCTYPE html>
<html>
<head>
{%include 'header.html' %}
<title>{{ _('Delete Shipping') }}</title>
</head>
<body>
{%include 'navbar.html' %}
<div class="container">
<h3>{{ _('Delete Shipping') }}</h3>
<hr />
<br />
<form action="#" method="post" class="form-inline">
<div class="well well-sm">
{{ _('Are you sure you want to delete') }} <i>{{shipping.memo}}</i>?
<div>
<br /><br />
<a class="btn btn-default" role="button"  href="{{url_for('displayShippings')}}">
<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
 {{ _('Cancel') }}
</a>
<button type="submit" class="btn btn-default">
<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
 {{ _('Confirm') }}
</button>
</div>
</form>
{%include 'footer.html' %}
</body>
</html>
