<!DOCTYPE html>
<html>
<head>
 {%include 'header.html' %}
<title>{{ _('Edit Journal Detail') }}</title>
</head>
<body>
{%include 'navbar.html' %}
<div class="container">
 <h3>{{ _('Edit Journal Detail') }}</h3>
 <hr />
<div class="form-group">
<form action="#" method="post" class="form-horizontal" id="journalDetailsForm">
<div class="form-group">
<label for="amount" class="col-sm-2 control-label">{{ _('Amount') }}:</label>
<div class="col-sm-4">
<input type="text" class="form-control" name="amount" id="amount" value="{{detail.amount}}" data-msg-required="The amount field is required" required>
</div>
</div>
<div class="form-group">
<label for="type" class="col-sm-2 control-label">{{ _('Debit / Credit') }}:</label>
<div class="col-sm-4">
{% if detail.debit_credit == 'D' %}
<input type="radio"  name="debit_credit" value="D" checked>{{ _('Debit') }}</br>
{%else%}
<input type="radio"  name="debit_credit" value="D">{{ _('Debit') }}</br>
{% endif %}
{% if detail.debit_credit == 'C' %}
<input type="radio"  name="debit_credit" value="C" checked>{{ _('Credit') }}</br>
{%else%}
<input type="radio"  name="debit_credit" value="C">{{ _('Credit') }}</br>
{% endif %}
</div>
</div>
<div class="form-group">
<label for="account" class="col-sm-2 control-label" >{{ _('Account') }}:</label>
<div class="col-sm-4">
<select name="account" class="form-control">
	{% for a in accounts %}
	<option value={{ a.id }}>{{ a.account }}</option>
	{% endfor %}
</select>	
</div>
</div>
<div class="form-group">
<label for="tax" class="col-sm-2 control-label" >{{ _('Tax') }}:</label>
<div class="col-sm-4">
<select name="tax" class="form-control">
	{% for t in taxes %}
	<option value={{ t.id }}>{{ t.tax }}</option>
	{% endfor %}
</select>	
</div>
</div>
<div class="form-group">
<div class="col-sm-offset-2 col-sm-4">
<a class="btn btn-default" role="button"  href="{{url_for('displayJournalDetails' , journal_id=journal_id)}}">
<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  Cancel
</a>
<button type="submit" class="btn btn-default">
<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  Submit
</button>
</div>
</div>
</form>
{%include 'footer.html' %}
</body>
</html>