<!DOCTYPE html>
<html>
<head>
{%include 'header.html' %}
<title>{{ _('Edit Legal Entity') }}</title>
</head>
<body>
{%include 'navbar.html' %}
<div class="container">
 <h3>{{ _('Edit Legal Entity') }}</h3>
<hr />
<div class="form-group">
<form action="#" method="post" class="form-horizontal" id="legalEntityForm">
<div class="form-group">
<label for="code" class="col-sm-2 control-label">{{ _('Code') }}:</label>
<div class="col-sm-4">
<input type="text" class="form-control" name="code" id="code" value="{{entity.code}}" data-msg-required="The code field is required" required>
</div>
</div>
<div class="form-group">
<label for="entity" class="col-sm-2 control-label">{{ _('Name') }}:</label>
<div class="col-sm-4">
<input type="text" class="form-control" name="entity" id="entity" value="{{entity.entity}}" data-msg-required="The name field is required" required>
</div>
</div>
<div class="form-group">
<label for="national_id" class="col-sm-2 control-label">{{ _('National ID') }}:</label>
<div class="col-sm-4">
<input type="text" class="form-control" name="national_id" id="national_id" value="{{entity.national_id}}" data-msg-required="The national id field is required" required>
</div>
</div>
<div class="form-group">
<label for="fiscal_id" class="col-sm-2 control-label">{{ _('Fiscal ID') }}:</label>
<div class="col-sm-4">
<input type="text" class="form-control" name="fiscal_id" id="fiscal_id" value="{{entity.fiscal_id}}" data-msg-required="The fiscal id field is required" required>
</div>
</div>
<div class="form-group">
<label for="location" class="col-sm-2 control-label">{{ _('Headquarter') }}:</label>
<div class="col-sm-4">
<select name="location" class="form-control">
{% for l in locations %}
<option value="{{ l.id }}">{{ l.street }}</option>
{% endfor %}
</select>
</div>
</div>
<div class="form-group">
<label for="chart" class="col-sm-2 control-label">{{ _('Chart of accounts') }}:</label>
<div class="col-sm-4">
<select name="chart_id" class="form-control">
{% for c in charts %}
<option value="{{ c.id }}">{{ c.chart }}</option>
{% endfor %}
</select>
</div>
</div>
<div class="form-group">
<label for="currency" class="col-sm-2 control-label">{{ _('Currency') }}:</label>
<div class="col-sm-4">
<select name="currency_id" class="form-control">
{% for c in currencies %}
<option value="{{ c.id }}">{{ c.currency}}</option>
{% endfor %}
</select>
</div>
</div>
<div class="form-group">
<div class="col-sm-offset-2 col-sm-4">
<a class="btn btn-default" role="button"  href="{{url_for('displayLegalEntities')}}">
<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  {{ _('Cancel') }}
</a>
<button type="submit" class="btn btn-default">
<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  {{ _('Submit') }}
</button>
</form>
</div>
</div>
</div>
{%include 'footer.html' %}
</body>
</html>