<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><a href="{{ url_for('home') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>      
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ _('Accounting') }} <span class="caret"></span></a>
               <ul class="dropdown-menu" role="menu">
                 <li><a href="{{ url_for('home') }}">{{ _('Journals') }}</a></li>
                 <li><a href="{{ url_for('home') }}">{{ _('Budgets') }}</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ _('Procurment') }} <span class="caret"></span></a>
               <ul class="dropdown-menu" role="menu">
                 <li><a href="{{ url_for('home') }}">{{ _('Request For Quotes') }}</a></li>
                 <li><a href="{{ url_for('home') }}">{{ _('Purchase Orders') }}</a></li>
                 <li><a href="{{ url_for('home') }}">{{ _('Goods Receipts') }}</a></li>
                 <li><a href="{{ url_for('home') }}">{{ _('Bills') }}</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ _('Sales') }} <span class="caret"></span></a>
               <ul class="dropdown-menu" role="menu">
                 <li><a href="{{ url_for('home') }}">{{ _('Quotes') }}</a></li>
                 <li><a href="{{ url_for('home') }}">{{ _('Sale Orders') }}</a></li>
                 <li><a href="{{ url_for('home') }}">{{ _('Shippings') }}</a></li>
                 <li><a href="{{ url_for('home') }}">{{ _('Invoices') }}</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ _('Inventory') }} <span class="caret"></span></a>
               <ul class="dropdown-menu" role="menu">
                 <li><a href="{{ url_for('home') }}">{{ _('Items') }}</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ _('Dineout') }} <span class="caret"></span></a>
               <ul class="dropdown-menu" role="menu">
                 <li><a href="{{ url_for('displayRestaurant') }}">{{ _('Restaurant List') }}</a></li>
                 <li><a href="{{ url_for('displayBookings') }}">{{ _('Bookings List') }}</a></li>
                 <li><a href="{{ url_for('displayDiners') }}">{{ _('Diner List') }}</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ _('Set Up') }} <span class="caret"></span></a>
               <ul class="dropdown-menu" role="menu">
                 <li><a href="{{ url_for('home') }}">{{ _('Locations') }}</a></li>
                 <li><a href="{{ url_for('home') }}">{{ _('Banks') }}</a></li>
                 <li><a href="{{ url_for('home') }}">{{ _('Charts') }}</a></li>
                 <li><a href="{{ url_for('home') }}">{{ _('Calendars') }}</a></li>
                 <li><a href="{{ url_for('home') }}">{{ _('Business Partners') }}</a></li>
                 <li><a href="{{ url_for('home') }}">{{ _('Legal Entities') }}</a></li>                
                 <li><a href="{{ url_for('home') }}">{{ _('Taxes') }}</a></li>
                 <li><a href="{{ url_for('home') }}">{{ _('Currencies') }}</a></li>
                 <li><a href="{{ url_for('home') }}">{{ _('Rates') }}</a></li>
              </ul>
            </li>
           </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{ session['login'] }}</a></li>
            <li><a href="{{ url_for('logout') }}"> <span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>
