<!DOCTYPE html>
<html>
<head>
{%include 'header.html' %}
<title>{{ _('New Business Partner') }}</title>
</head>
<body>
{%include 'navbar.html' %}
<div class="container">
 <h3>{{ _('New Business Partner') }}</h3>
 <hr />
<div class="form-group">
<form action="#" method="post" class="form-horizontal" id="businessPartnerForm">
<div class="form-group">
<label for="code" class="col-sm-2 control-label">{{ _('Code') }}:</label>
<div class="col-sm-4">
<input type="text" class="form-control" name="code" id="code" data-msg-required="The code field is required" required>
</div>
</div>
<div class="form-group">
<label for="business_partner" class="col-sm-2 control-label">{{ _('Name') }}:</label>
<div class="col-sm-4">
<input type="text" class="form-control" name="business_partner" id="business_partner" data-msg-required="The name field is required" required>
</div>
</div>
<div class="form-group">
<label for="type" class="col-sm-2 control-label">{{ _('Type') }}:</label>
<div class="col-sm-4">
<input type="radio" name="type" value="C" checked>{{ _('Customer') }}<br />
<input type="radio" name="type" value="V">{{ _('Vendor') }}<br />
</div>
</div>
<div class="form-group">
<label for="entity" class="col-sm-2 control-label" >{{ _('Entity') }}:</label>
<div class="col-sm-4">
<select name="entity" class="form-control">
	{% for e in entities %}
	<option value={{ e.id }}>{{ e.entity }}</option>
	{% endfor %}
</select>	
</div>
</div>
<div class="form-group">
<div class="col-sm-offset-2 col-sm-4">
<a class="btn btn-default" role="button"  href="{{url_for('displayBusinessPartners')}}">
<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  Cancel
</a>
<button type="submit" class="btn btn-default">
<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  Submit
</button>
</div>
</div>
</form>
{%include 'footer.html' %}
</body>
</html>