<!DOCTYPE html>
<html>
<head>
{%include 'header.html' %}
<title>{{ _('New Calendar') }}</title>
</head>
<body>
{%include 'navbar.html' %}
<div class="container">
 <h3>{{ _('New Calendar') }}</h3>
 <hr />
<div class="form-group">
<form action="#" method="post" class="form-horizontal" id="calendarForm">
<div class="form-group">
<label for="calendar" class="col-sm-2 control-label">{{ _('Calendar') }}:</label>
<div class="col-sm-4">
<input type="text" class="form-control" name="calendar" id="calendar" data-msg-required="The calendar field is required" required>
</div>
</div>
<div class="form-group">
<label for="status" class="col-sm-2 control-label">{{ _('Status') }}:</label>
<div class="col-sm-4">
<input type="radio" name="status" value="1" checked>{{ _('Open') }}<br />
<input type="radio" name="status" value="0">{{ _('Closed') }}</br>
</div>
</div>
<div class="form-group">
<label for="year" class="col-sm-2 control-label">{{ _('Year') }}:</label>
<div class="col-sm-4">
<input type="text" class="form-control" name="year" id="year" data-msg-required="The year field is required" required>
</div>
</div>
<div class="form-group">
<div class="col-sm-offset-2 col-sm-4">
<a class="btn btn-default" role="button"  href="{{url_for('displayCalendars')}}">
<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  Cancel
</a>
<button type="submit" class="btn btn-default">
<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  Submit
</button>
</div>
</div>
</form>
{%include 'footer.html' %}
</body>
</html>