<!DOCTYPE html>
<html>
<head>
 {%include 'header.html' %}
<title>{{ _('New Location') }}</title>
</head>
<body>
{%include 'navbar.html' %}
<div class="container">
 <h3>{{ _('New Location') }}</h3>
 <hr />
 <div class="form-group">
<form action="#" method="post" class="form-horizontal" id="locationForm">
<div class="form-group">
<label for="code" class="col-sm-2 control-label">{{ _('Street') }}:</label>
<div class="col-sm-4">
<input type="text" class="form-control" name="street" id="street" data-msg-required="The field street is required" required>
</div>
</div>
<div class="form-group">
<label for="city" class="col-sm-2 control-label">{{ _('City') }}:</label>
<div class="col-sm-4">
<input type="text" class="form-control" name="city" id="city" data-msg-required="The field city is required" required>
</div>
</div>
<div class="form-group">
<label for="zip_code" class="col-sm-2 control-label">{{ _('Zipcode') }}:</label>
<div class="col-sm-4">
<input type="text" class="form-control" name="zip_code" id="zip_code">
</div>
</div>
<div class="form-group">
<label for="state_province" class="col-sm-2 control-label">{{ _('State / Province') }}:</label>
<div class="col-sm-4">
<input type="text" class="form-control" name="state_province" id="state_province">
</div>
</div>
<div class="form-group">
<label for="country" class="col-sm-2 control-label">{{ _('Country') }}:</label>
<div class="col-sm-4">
<select name="country" class="form-control">
{% for c in countries %}
<option value="{{ c.code }}">{{c.name}}</option>
{% endfor %}
</select>
</div>
</div>
<div class="form-group">
<div class="col-sm-offset-2 col-sm-4">
<a class="btn btn-default" role="button"  href="{{url_for('displayLocations')}}">
<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  {{ _('Cancel') }}
</a>
<button type="submit" class="btn btn-default">
<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  {{ _('Submit') }}
</button>
</div>
</div>
{%include 'footer.html' %}
</body>
</html>
