<!DOCTYPE html>
<html>
<head>
{%include 'header.html' %}
<title>{{ _('Add New Movies') }}</title>
</head>
<body>
{%include 'navbar.html' %}
<div class="container">
<h3>{{ _('Add New Movies') }}</h3>
<hr />

<form action="#" method="post" class="form-horizontal" id="newMovies" name="newMovies"  enctype=multipart/form-data>
<div class="form-group">
<label for="restaurant" class="col-sm-2 control-label">{{ _('Movie Title:') }}:</label>
<div class="col-sm-4">
<input type="text" class="form-control" required name="movie_title" id="movie_title" data-msg-required="The name field is required">
</div>
</div>
<div class="form-group">
<label for="address" class="col-sm-2 control-label">{{ _('Movie Description') }}:</label>
<div class="col-sm-4">
<input type="text" class="form-control" required name="movie_desc" id="movie_desc" >
</div>
</div>
<div class="form-group">
<label for="pincode" class="col-sm-2 control-label" >{{ _('Movie Release Date') }}:</label>
<div class="col-sm-4">
    <input type="text" class="form-control" required name="movie_release_date" id="movie_release_date" placeholder="YYYY-MM-DD" required  >
</div>
</div>
<div class="form-group">
<label for="pincode" class="col-sm-2 control-label" >{{ _('Movie Runtime') }}:</label>
<div class="col-sm-4">
    <input type="number" class="form-control" required name="movie_runtime" id="movie_runtime" >
</div>
</div>
<div class="form-group">
    <label for="state_name" class="col-sm-2 control-label" >{{ _('Movie Certificate') }}:</label>
    <div class="col-sm-4">
        <select name="movie_certificate"  id="movie_certificate" class="form-control"  >
                <option value="A">A</option>
                <option value="S">S</option>
                <option value="U">U</option>
                <option value="UA">UA</option>
        </select>
    </div>
</div>
<div class="form-group">
        <label for="state_name" class="col-sm-2 control-label" >{{ _('Movie Rating') }}:</label>
        <div class="col-sm-4">
                <input type="number" class="form-control" required name="movie_rating" min="0" max="5" step="5" id="movie_rating" >
        </div>
    </div>

<div class="form-group">
<div class="col-sm-offset-2 col-sm-4">
<a class="btn btn-default" role="button"  href="{{url_for('displayMovies')}}">
<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  {{ _('Cancel') }}
</a>
<button type="submit" class="btn btn-default">
<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  {{ _('Submit') }}
</button>
</div>
</div>
</form>

{%include 'footer.html' %}

</body>
</html>